body {
  font-family: 'Times New Roman';
  margin: 0; padding: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.centered {
  text-align: center;
}
#main-page, #game-page {
  display: none;
}
#main-page.active, #game-page.active {
  display: block;
}
h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
button {
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
}
#timer {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
#game-field {
  margin: 20px auto;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.digit {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s;
}
.digit.selected {
  border-color: #000;
  background-color: #ffff99;
}
#restart-btn {
  margin-top: 15px;
  padding: 12px 15px;
}
#stats {
  margin-top: 40px;
  max-width: 600px;
  width: 90vw;
}
#stats table {
  width: 100%;
  border-collapse: collapse;
}
#stats th, #stats td {
  border: 1px solid #aaa;
  padding: 12px;
  text-align: center;
}
#stats th {
  background-color: #ddd;
}
#stats tr.best-result {
  background-color: #c3f7c3;
  font-weight: bold;
}
